//dashboard.scss
.dashBoard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .left-container{
      overflow-y: auto !important;
    }
    .left-container,
    .right-container {
      flex: 1;
      padding: 20px;
      height: 100vh;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      overflow-y: scroll;
      
      h1 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
        
        li {
          margin-bottom: 20px;
          
          .request-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #eee;
            border-radius: 4px;
            
            .request-info {
              flex: 1;
              display: flex;
              flex-wrap: wrap;
              
              .label {
                font-weight: bold;
                color: #555;
                margin-bottom: 5px;
                width: 100px;
              }
              
              div {
                margin-bottom: 5px;
              }
            }
            
            .status {
              padding: 6px 10px;
              border-radius: 4px;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              &.approved {
                background-color: #28a745; // Green color for approved
              }
              &.pending {
                background-color: #ffc107; // Yellow color for pending
              }
              &.rejected {
                background-color: #dc3545; // Red color for rejected
              }
            }
          }
          
        }
      }
    }
  }