.status-dot-container {
    display: flex;
    align-items: center;
    position: relative;
  
    .tooltip {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
      position: absolute;
      z-index: 1;
      top: -40px; // Adjust as needed to position directly above the dot
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
  
      &::after {
        content: "";
        position: absolute;
        top: 100%; // Bottom of the tooltip
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
    }
  
    .status-dot {
      z-index: 10;
      background-color: gray;
      border: #f44336;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      z-index: 1;// Adjust spacing between dots
  
      &.approved {
        background-color: #06D001;
      }
  
      &.pending {
        background-color: gray;
      }
  
      &.rejected {
        background-color: #f44336;
      }
  
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  
      .animation {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        animation: pulse 1.5s infinite;
      }
    }
  
    .status-line {
      flex: 1; // To stretch the line between dots
      height: 4px;
      width: 30px;
      background-color: black;
      transition: background-color 0.3s ease;
      position: relative;
      z-index: 0;
      margin-right: -45px;

      &.approved {
        background-color: rgb(3, 181, 3);
      }
  
      &.pending {
        background-color: gray;
      }
  
      &.rejected {
        background-color: #f44336;
      }
  
      &:not(:last-child) {
        position: absolute;
        width: calc(100% - 30px); // Adjust as needed based on dot margin and container width
        top: calc(50% - 2px); // Position line vertically centered relative to dots
        left: 50%;
        transform: translateX(-50%);
      }
    }
  
    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
  